
@import './colors.css';

body{
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
  text-align: center;
}
.App{
  text-align: center;
  margin: 0 auto; 
  width: 100%;
}

h1 {
  margin-bottom: 20px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: var(--unflipped-card-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card.flipped {
  background-color: var(--flipped-card-color);
}

.card:hover {
  background-color: var(--link-hover-color);
}

.game-info {
  margin-top: 20px;
}
